@using DataDomain;

@model DataDomain.QuizVM

@{
    ViewData["Title"] = "Edit Quiz";

    IEnumerable<string> topics = ViewBag.Topics;
    IEnumerable<string> descriptions = ViewBag.Descriptions;
}

<h1>Edit Quiz</h1>

<hr />
<div class="d-flex justify-content-center">
    <div class="card shadow card-registration col-md-8" style="border-radius: 15px;">
        <div class="card-body p-4 p-md-5">
            <div class="row">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        @if (User.IsInRole("Admin"))
                        {
                            <input asp-for="Name" class="form-control" disabled />
                        }
                        else
                        {
                            <input asp-for="Name" class="form-control" />
                        }
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="QuizTopicID" class="control-label"></label>
                        @if (User.IsInRole("Admin"))
                        {
                            <input asp-for="QuizTopicID" list="topics" class="form-control" disabled />
                        }
                        else
                        {
                            <input asp-for="QuizTopicID" list="topics" class="form-control" />
                        }
                        <datalist id="topics">
                            @foreach (var topic in topics)
                            {
                                <option value="@topic" />
                            }
                        </datalist>
                        <span asp-validation-for="QuizTopicID" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="QuizTopicDescription" class="control-label"></label>
                        @if (User.IsInRole("Admin"))
                        {
                            <textarea asp-for="QuizTopicDescription" list="descriptions" class="form-control" disabled></textarea>
                        }
                        else
                        {
                            <textarea asp-for="QuizTopicDescription" list="descriptions" class="form-control"></textarea>
                        }
                        <datalist id="descriptions">
                            @foreach (var description in descriptions)
                            {
                                <option value="@description" />
                            }
                        </datalist>
                        <span asp-validation-for="QuizTopicDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Description" class="control-label"></label>
                        @if (User.IsInRole("Admin"))
                        {
                            <textarea asp-for="Description" class="form-control" disabled></textarea>
                        }
                        else
                        {
                            <textarea asp-for="Description" class="form-control"></textarea>
                        }
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check mt-2">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                        </label>
                    </div>
                    <div class="form-group text-center mt-3">
                        @if(User.IsInRole("Admin"))
                        {
                            <a asp-action="AllQuizzes" class="btn btn-warn me-2">Cancel</a>
                        }
                        else
                        {
                            <a asp-action="MyQuizzes" class="btn btn-warn me-2">Cancel</a>
                        }
                        <input type="submit" value="Save" class="btn btn-main" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}