@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<hr/>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <div>
                <h6">
                    At QuizNest, we are committed to protecting your privacy and ensuring the security of your personal information.
                    This policy outlines how we collect, use, and safeguard your information when using our platform.
                </h6>
            </div>
            <hr>

            <h4 class="fw-bold">Information We Collect</h4>
            <ul>
                <li>
                    <h5 class="fw-bold">Personal Information:</h5>
                    <ul>
                        <li>When you register for a QuizNest account, we collect basic information such as your name, email address, and selected role (Quiz Taker or Quiz Maker).</li>
                        <li>Legacy Users are not expected or required to choose a role upon registration for an account on our web platform.</li>
                        <li>Quiz Takers' quiz records are public by default but can be adjusted to private at any time.</li>
                    </ul>
                </li>
                <li>
                    <h5 class="fw-bold">Usage Data:</h5>
                    <ul>
                        <li>We collect information related to your interactions with QuizNest, such as quizzes taken, created, as well as any questions you have created.</li>
                        <li>Additional technical details, including your browser type and time spent on quizzes, help us improve the platform.</li>
                    </ul>
                </li>
            </ul>

            <h4 class="fw-bold">How We Use Your Information</h4>
            <ul>
                <li>
                    <h5 class="fw-bold">Providing Services:</h5>
                    <ul>
                        <li>We use your personal information to manage quiz participation, generate user records, and ensure a seamless user experience.</li>
                    </ul>
                </li>
                <li>
                    <h5 class="fw-bold">Improving Our Platform:</h5>
                    <ul>
                        <li>Usage data is analyzed to optimize QuizNest’s features and enhance the user experience.</li>
                    </ul>
                </li>
                <li>
                    <h5 class="fw-bold">Content Management and Moderation:</h5>
                    <ul>
                        <li>Quiz Makers can design and edit their own unique quizzes and questions.</li>
                        <li>Administrators reserve the right to remove quiz content if it is deemed inappropriate and/or non-compliant with community guidelines.</li>
                    </ul>
                </li>
            </ul>

            <h4 class="fw-bold">Data Security</h4>
            <ul>
                <li>We prioritize data protection through encryption, secure storage, and routine security audits to prevent unauthorized access.</li>
            </ul>

            <h4 class="fw-bold">Disclosure of Information</h4>
            <ul>
                <li>QuizNest does not sell, trade, or rent user data to third parties.</li>
                <li>We may share necessary information with trusted service providers who assist in maintaining our platform while ensuring confidentiality.</li>
            </ul>

            <h4 class="fw-bold">Your Choices and Rights</h4>
            <ul>
                <li>Users can modify quiz records’ visibility, created content, and personal account information at any time.</li>
            </ul>

            <h4 class="fw-bold">Changes to This Privacy Policy</h4>
            <ul>
                <li>QuizNest may update this policy periodically based on platform changes, legal requirements, or any other reason we deem fit.</li>
                <li>Users are encouraged to review the policy for updates.</li>
            </ul>

            <h4 class="fw-bold">Contact Us</h4>
            <ul>
                <li>For inquiries regarding this Privacy Policy, contact our Support Team at support@quiznest.org.</li>
            </ul>

            <h6 class="fw-bold">Last Revised: 05/08/2025</h6>
        </div>
    </div>
</div>